<!DOCTYPE html>

<html>

<head>
    <title>FAQ</title>
    <link rel="icon" href="/img/speech.png">
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <img class="portrait" src="/img/profile.jpg"> --}}
        <p>
            The averages are calculated based on the UBC Grade distributions from the last five years <br> <br>
            The following tool was created to be used by UBC students for course planning purposes <br>
            This tool was inspired <a href="https://ubcgrades.com"> UBC Grades</a> and incorporates <a href="https://ubcgrades.com/api-reference/v2"> Version 2 API</a>
        </p>
        

    </div>

  
    
    {{>footer}}
</body>

</html>