<!DOCTYPE html>

<html>

<head>
    <title>Main</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to find UBC Grades!</p>

        <form>
            <input name = "Location" placeholder="Campus (UBCV or UBCO)">
            <input name = "Course" placeholder="Course (MATH)">
            <input name = "Year" placeholder="Year (1 or 2 or ALL)">
            <input name = "Percentage" placeholder="Min.Percentage (80 or 65)">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        {{!-- <p id="message-2"></p> --}}
        <pre style="font-size:20px" id="message-2"></pre>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>