<!DOCTYPE html>

<html>

<head>
    <title>Main</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to find UBC Grades!</p>

        <form>
            <input name = "Location" placeholder="Campus (UBCV or UBCO)">
            <input name = "Year" placeholder="Year (2018W)">
            <input name = "Course" placeholder="Course (MATH)">
            <input name = "Course Number" placeholder="Course Number (100)">
            <input name = "Course Section" placeholder="Course Section (101)">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>