<!DOCTYPE html>

<html>

<head>
    <title>Main</title>
    <link rel="icon" href="/img/speech.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    
    <div class="main-content">
        {{>header}}
        <p style="font-size:15px">Use the search tool below to find relevant course averages  </p>

        
        <form>
            <input list="Location" name="Location" placeholder="Campus">
            <datalist id="Location">
                <option value="UBCV">
                <option value="UBCO">
            </datalist>

{{!-- The code below was copied from plaground.js output --}}
            <input list="Subjects" name="Course" placeholder="Course">
            <datalist id="Subjects">
                <option value="AANB">
                <option value="ACAM">
                <option value="ADHE">
                <option value="AFST">
                <option value="ANAT">
                <option value="ANTH">
                <option value="APBI">
                <option value="APPP">
                <option value="APSC">
                <option value="ARBC">
                <option value="ARCH">
                <option value="ARCL">
                <option value="ARST">
                <option value="ARTH">
                <option value="ARTS">
                <option value="ASIA">
                <option value="ASIC">
                <option value="ASL">
                <option value="ASTR">
                <option value="ASTU">
                <option value="ATSC">
                <option value="AUDI">
                <option value="BA">
                <option value="BAAC">
                <option value="BABS">
                <option value="BAEN">
                <option value="BAFI">
                <option value="BAHR">
                <option value="BAIT">
                <option value="BALA">
                <option value="BAMA">
                <option value="BAMS">
                <option value="BAPA">
                <option value="BASC">
                <option value="BASM">
                <option value="BAUL">
                <option value="BEST">
                <option value="BIOC">
                <option value="BIOF">
                <option value="BIOL">
                <option value="BMEG">
                <option value="BOTA">
                <option value="BUSI">
                <option value="CAPS">
                <option value="CCFI">
                <option value="CCST">
                <option value="CDST">
                <option value="CEEN">
                <option value="CELL">
                <option value="CENS">
                <option value="CHBE">
                <option value="CHEM">
                <option value="CHIL">
                <option value="CHIN">
                <option value="CICS">
                <option value="CIVL">
                <option value="CLCH">
                <option value="CLST">
                <option value="CNPS">
                <option value="CNRS">
                <option value="CNTO">
                <option value="COEC">
                <option value="COGS">
                <option value="COHR">
                <option value="COLX">
                <option value="COMM">
                <option value="COMR">
                <option value="CONS">
                <option value="CPEN">
                <option value="CPSC">
                <option value="CRWR">
                <option value="CSIS">
                <option value="CTLN">
                <option value="DANI">
                <option value="DENT">
                <option value="DES">
                <option value="DHYG">
                <option value="DMED">
                <option value="DSCI">
                <option value="ECED">
                <option value="ECON">
                <option value="EDCP">
                <option value="EDST">
                <option value="EDUC">
                <option value="EECE">
                <option value="ELEC">
                <option value="EMBA">
                <option value="ENDS">
                <option value="ENGL">
                <option value="ENPH">
                <option value="ENVE">
                <option value="ENVR">
                <option value="EOSC">
                <option value="EPSE">
                <option value="ETEC">
                <option value="FCOR">
                <option value="FHIS">
                <option value="FIPR">
                <option value="FISH">
                <option value="FIST">
                <option value="FMST">
                <option value="FNEL">
                <option value="FNH">
                <option value="FNIS">
                <option value="FNLG">
                <option value="FNSP">
                <option value="FOOD">
                <option value="FOPR">
                <option value="FRE">
                <option value="FREN">
                <option value="FRST">
                <option value="GBPR">
                <option value="GEM">
                <option value="GEOB">
                <option value="GEOG">
                <option value="GERM">
                <option value="GPP">
                <option value="GREK">
                <option value="GRS">
                <option value="GRSJ">
                <option value="GSAT">
                <option value="HEBR">
                <option value="HGSE">
                <option value="HINU">
                <option value="HIST">
                <option value="HPB">
                <option value="HUNU">
                <option value="IAR">
                <option value="IGEN">
                <option value="IHHS">
                <option value="INDS">
                <option value="INFO">
                <option value="INLB">
                <option value="ISCI">
                <option value="ITAL">
                <option value="ITST">
                <option value="IWME">
                <option value="JAPN">
                <option value="JRNL">
                <option value="KIN">
                <option value="KORN">
                <option value="LAIS">
                <option value="LARC">
                <option value="LASO">
                <option value="LAST">
                <option value="LATN">
                <option value="LAW">
                <option value="LFS">
                <option value="LIBE">
                <option value="LIBR">
                <option value="LING">
                <option value="LLED">
                <option value="LWS">
                <option value="MANU">
                <option value="MATH">
                <option value="MDVL">
                <option value="MECH">
                <option value="MEDG">
                <option value="MEDI">
                <option value="MES">
                <option value="MGMT">
                <option value="MICB">
                <option value="MIDW">
                <option value="MINE">
                <option value="MRNE">
                <option value="MTRL">
                <option value="MUSC">
                <option value="NAME">
                <option value="NEPL">
                <option value="NEST">
                <option value="NRSC">
                <option value="NURS">
                <option value="OBST">
                <option value="ONCO">
                <option value="OSOT">
                <option value="PATH">
                <option value="PCTH">
                <option value="PERS">
                <option value="PHAR">
                <option value="PHIL">
                <option value="PHRM">
                <option value="PHTH">
                <option value="PHYL">
                <option value="PHYS">
                <option value="PLAN">
                <option value="PLNT">
                <option value="POLI">
                <option value="POLS">
                <option value="PORT">
                <option value="PPGA">
                <option value="PSYC">
                <option value="PSYT">
                <option value="PUNJ">
                <option value="RELG">
                <option value="RES">
                <option value="RGLA">
                <option value="RGST">
                <option value="RHSC">
                <option value="RMES">
                <option value="RMST">
                <option value="RSOT">
                <option value="RUSS">
                <option value="SANS">
                <option value="SCAN">
                <option value="SCIE">
                <option value="SLAV">
                <option value="SOAL">
                <option value="SOCI">
                <option value="SOIL">
                <option value="SOWK">
                <option value="SPAN">
                <option value="SPHA">
                <option value="SPPH">
                <option value="STAT">
                <option value="STS">
                <option value="SURG">
                <option value="SWED">
                <option value="THFL">
                <option value="THTR">
                <option value="TIBT">
                <option value="UDES">
                <option value="UFOR">
                <option value="URST">
                <option value="URSY">
                <option value="VANT">
                <option value="VISA">
                <option value="VRHC">
                <option value="WOOD">
                <option value="WRDS">
                <option value="ZOOL">
            </datalist>

            
                

            <input list="Year" name="Year" placeholder="Year Level">
            <datalist id="Year">
                <option value="1">
                <option value="2">
                <option value="3">
                <option value="4">
                <option value="5">
                <option value="6">
                <option value="ALL">
            </datalist>

            <input list="Percentage" name="Percentage" placeholder="Percentage Cut-off">
            <datalist id="Percentage">
                <option value="50">
                <option value="60">
                <option value="70">
                <option value="80">
                <option value="90">
            </datalist>
            <button>Search</button>
        </form>
        <br>
        <br>
        <b style="font-size:25px" id="message-1"></b>
        {{!-- <p id="message-2"></p> --}}
        <pre style="font-size:20px" id="message-2"></pre>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>